{% block header %}

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Bare - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('app.static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('app.static', filename='custom_css/extra.css') }}" rel="stylesheet">
  
{% endblock %}

{% block content %}

<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <button class="navbar-brand btn btn-primary" href="#" id="navbar-home-btn">Home</button>
    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto"> </ul>
        <a href="#" id="navbar-signin-btn" class="btn btn-primary" tabindex="-1" roll="button" aria-disabled="true"> Sign In</a>
        <a>&nbsp</a>
        <a href="#" id="navbar-signup-btn" class="btn btn-primary" tabindex="-1" roll="button" aria-disabled="true"> Sign Up</a>
      </div>
    </nav>

    <main role="main" class="container">

        <div class="wrapper">
            <!-- Sidebar -->
            <nav id="sidebar">
                <p></p>
                <ul class="list-unstyled components">
                    <li style="background:white" class="btn" data-id="page-1-btn">
                        <a href="#">Page 1</a>
                    </li>
                    <p></p>
                    <li style="background:white" class="btn" data-id="page-2-btn">
                        <a href="#">Page 2</a>
                    </li>
                </ul>
            </nav>
        
        </div>
        
        <div class="starter-template" id="displayArea">
        </div>
     
   </main><!-- /.container -->

    <!-- Bootstrap core JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="{{ url_for('app.static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('app.static', filename='js/app.js') }}"></script>

</body>
    
{% endblock %}